* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
ul li, ol li {
  list-style: none;
}

header {
  margin: 5% auto;
  text-align: center;
}

.container {
  width: 70%;
  border: 2px solid #ccc;
  margin: 30px auto;
  padding: 20px;
}

.container:after {
  content: '';
  clear: both;
  display: block;
}

main {
  width: 70%;
  float: left;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

section>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section>div h2 {
  display: inline-block;
  text-align: left;
}

section>div p {
  display: inline-block;
  text-align: right;
}

aside {
  width: 30%;
  float: right;
  padding: 0 25px;
}

#cityInput {
  display: block;
  width: 300px;
  padding-left: 15px;
}

.cityWrap, #endGame {
  position: relative;
  height: 35px;
  width: 100%
}

#cityAutocomplete {
  position: absolute;
  padding: 10px;
  top: 35px;
  width: 300px;
  max-height: 300px;
  opacity: 0;
  overflow-y: scroll;
  border: 0 none;
  display: none;
}

#cityAutocomplete.active {
  background: #FFF;
  border: 1px solid #ccc;
  display: block;
  opacity: 1;
}

#cityAutocomplete span {
  display: block;
  padding: 5px 0;
  cursor: pointer;
  text-align: left;
}

#cityAutocomplete span:hover {
  background: #ccc;
}
#citiesListBlock li {
  margin-bottom: 5px;
}
/* #citiesListBlock li:after {
  content: 'x';
  cursor: pointer;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
} */
#citiesListBlock span {
  content: 'x';
  cursor: pointer;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}